@import url("http://fonts.googleapis.com/css?family=Roboto");

nav {
    padding-left: 20px !important;
    border-bottom: 1px solid #cecece;
}

body {
    font-family: 'Roboto' !important;
}

a {
    color: #5f6368 !important;
}

input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

#main-text-fields {
    border-radius: 1rem;;
    border: 1px solid #5f6368;
    padding: 7px;
    display:inline-block;
    background-color: white;
    margin-bottom: 10px;
}

textarea {
    border: none;
    height: 200px;
    width: 500px;
    font-size: 24px !important;
    resize: none !important;
    padding: 5px;
}


#txtOutput {
    color: rgb(60,64,67);
}

#background-line {
    background-color: #fafafa;
    border-bottom: 1px solid #cecece;
    height: 100px;
    width: 100%;
    margin-bottom: -50px;
}

#lblCharCount {
    font-size: 12px;
    color: #5f6368;
}